# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Django
*.log
db.sqlite3
*.sqlite3
media/
staticfiles/

# Secret keys
*.secret

# Configuration files
.env

# IDE files (e.g. PyCharm)
.idea/

# Temporary files
*.swp
*~
.DS_Store
